* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.main-outer {
    position: fixed;
    width: 100vw;
    height: 70vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    height: 70vh;
    flex-direction: column;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.start-button {
    background-color: #fff;
    color: #6a0dad;
    padding: 10px 20px;
    border: 2px solid #6a0dad;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}